{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="text-md-left">
  <h1>About</h1>

<h2>Why BizWiz is Your Ideal Partner</h2>

<h3>NLTK Precision</h3> Our AI models, powered by NLTK, analyze business
listings and financial data with unparalleled precision.
We decode the nuances of business descriptions and historical
data to provide you with accurate price predictions.


<h3>Continuous Advancements</h3> Our AI models evolve with the industry. We stay
ahead of the curve, adapting to changing market
conditions and refining our predictions.

Ready to embark on your business-buying journey with
NLTK-powered precision? Join the growing community of savvy
entrepreneurs and investors using BizWiz to transform
their acquisitions into success stories.

Experience the future of business buying with BizWiz.
Let NLTK and our expertise be your guide to
securing the perfect business at the right price.

</div>

{% endblock %}
