{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>

<div class="row row-cols-1 row-cols-md-2">

  <div class="col mb-4">
    <div class="card">
      <img class="card-img-top" src="{{ url_for('static', filename='african-business-male-people-shaking-hands.jpg') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Why BizWiz is Your Ideal Partner</h5>

        <p> Ready to embark on your business-buying journey with
          NLTK-powered precision? Join the growing community of savvy
          entrepreneurs and investors using BizWiz to transform
          their acquisitions into success stories. </p>

        <p>Experience the future of business buying with BizWiz.
          Let NLTK and our expertise be your guide to
          securing the perfect business at the right price.</p>

      </div>
    </div>
  </div>


  <div class="col mb-4">
    <div class="card">
      <img class="card-img-top" src="{{ url_for('static', filename='ai-technology-brain-background-digital-transformation-concept.jpg') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">https://www.bizbuysell.com/</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Our AI models work with BizBuySell "Business-Opportunity" listings
        </h6>

        <p>

          Find a link for a business opportunity you like, and paste
          it into our AI powered Dash.

        </p>


        <a href="{{ url_for('dash') }}" class="card-link">Go to Dash</a>
        <a href="https://www.bizbuysell.com/businesses-for-sale/" class="card-link" target=”_blank”>Go to BizBuySell</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img class="card-img-top" src="{{ url_for('static', filename='how-to-use-an-api.jpg') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Use our API</h5>


        <p>Use our convenient REST API to
          automate your AI business buying workflow.</p>

        <p>payload.json:</p>

        <code>

          { "url": "https://www.bizbuysell.com/Business-Opportunity/high-profit-passive-income-fitness-center/2153710" }
        </code>

        <p>curl command:</p>

        <code>

          curl -XPOST
          -d @/path/to/payload.json
          -H "Content-Type:application/json"
          {{request.url_root}}api/bizbuysell/url

        </code>


      </div>
    </div>
  </div>




  <div class="col mb-4">
    <div class="card">
      <img class="card-img-top" src="{{ url_for('static', filename='ai-technology-microchip-background-digital-transformation-concept_53876-124669.jpg') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NLTK Precision</h5>


        <p>Our AI models, powered by NLTK, analyze business
          listings and financial data with unparalleled precision.
          We decode the nuances of business descriptions and historical
          data to provide you with accurate price predictions.</p>

      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img class="card-img-top" src="{{ url_for('static', filename='aerial-view-business-data-analysis-graph.jpg') }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Continuous Advancements</h5>


        <p>Our AI models evolve with the industry. We stay
          ahead of the curve, adapting to changing market
          conditions and refining our predictions.</p>


      </div>
    </div>
  </div>







</div>

{% endblock %}
