<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>

<h1><a href="{{ url_for('home') }}">BizWiz</a></h1>

<h2>Blog</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque viverra sem mollis ipsum feugiat porttitor. Phasellus porttitor orci massa, ut pulvinar elit eleifend non. Sed justo turpis, accumsan vitae metus mollis, laoreet faucibus turpis. Aliquam vulputate at lectus at aliquet. Morbi sed facilisis massa. Suspendisse eget auctor leo. Donec finibus pretium venenatis. Donec sed auctor justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec laoreet ut lorem ac porta. Phasellus ante risus, faucibus vitae diam eu, viverra sollicitudin ante.
</p>
  <p>
Quisque luctus mattis dapibus. Vestibulum et interdum velit. Etiam pharetra sapien ut consequat tincidunt. Integer eu vestibulum dui. Maecenas neque elit, pharetra non nibh a, vulputate posuere mauris. Praesent volutpat purus ut condimentum vulputate. Nam sodales hendrerit ultricies. Pellentesque nec lorem leo. Suspendisse non ex ultricies, finibus mauris eget, maximus magna. Nam lectus lectus, rutrum vel tincidunt eu, facilisis a odio.
</p>
</html >
