{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<p class="lead">
  Welcome to BizWiz, your premier destination for buying
  businesses with the power of AI-driven insights.
  We specialize in harnessing the capabilities of
  natural language processing to provide you with
  invaluable predictions and analyses that guide your
  business purchase decisions like never before.
</p>
<p class="lead">
  <a href="{{ url_for('dash') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">Get Started</a>
</p>

{% endblock %}
